[Desktop Entry]
Type=Application
Name=系统快照
Comment=快速创建系统快照
Exec=bash -c "~/.local/bin/quicksnap"
Icon=yast-snapper
Terminal=false
StartupNotify=false
Categories=Utility;
